@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth box-border m-0 p-0;
  }

  h1 {
    @apply font-notosansjp font-medium text-3xl text-red-400;
  }

  h2 {
    @apply font-notosansjp font-medium text-2xl;
  }

  h6 {
    @apply font-notosansjp font-medium text-base;
  }

  strong {
    @apply font-notosansjp font-medium text-base;
  }

  p {
    @apply font-notosansjp font-normal text-base;
  }

  a {
    @apply font-notosansjp font-normal text-base no-underline;
    @apply hover:opacity-60 ease-in duration-200;
  }

  small {
    @apply font-notosansjp font-normal text-sm;
  }

  button {
    @apply font-notosansjp cursor-pointer;
    @apply ease-in duration-200;
  }
}

@layer utilities {
  .font-notosansjp {
    font-family: var(--font-notosansjp);
  }
}

@media (max-width: 1024px) {
  html {
    /* 15px */
    font-size: 93.75%;
  }
}

@media (max-width: 768px) {
  html {
    /* 14px */
    font-size: 87.5%;
  }
}
